.App-header{
  padding: 20px;
  
  .feedbackWrapper{
    position: relative;
    height: 2rem;

  }

  .valid-feedback,
  .invalid-feedback{
    display: block;
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .form-control.is-valid + .feedbackWrapper .valid-feedback{
    visibility: visible;
    display: block;
  }
  .form-control.is-valid + .feedbackWrapper .invalid-feedback{
    display: none;
  }
  .form-control.is-invalid + .feedbackWrapper .invalid-feedback{
    visibility: visible;
    display: block;
  }
  .form-control.is-invalid + .feedbackWrapper .valid-feedback{
    display: none;
  }
}

.myCustomSelect{
  border: none;
}

.myCustomSelect > div{
  border: none;
  border-bottom: 2px solid blue;
  border-radius: 0;

  &:hover,
  &:active{
    // border-color: black;
    // box-shadow: none;
  }
}